.image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery-img {
	width: 32%;
	height: 150px;
	flex: 0 32%;
	margin-bottom: 2%; /* (100-32*3)/2 */
}

@media only screen and (min-width: 760px) {
	.gallery-img {
		height: 200px;
	}
}
